<nav>
<div class="menu">
<h3> Crypto coin</h3>
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Coins", allCoins_coins_path %></li>
<li><%= link_to "Trending Coins", trending_coins_path %></li>
<li><%= link_to "About", about_coins_path %></li>

</ul>
</div>

</nav>
<h2>Top 50 Coins by Market Cap</h2>

<table class="crypto_table">
  <tr>
    <th>#</th>
    <th>Coins</th>
    <th>Live Price</th>
    <th>Market Cap</th>
  </tr>

   <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.rank %></td>
      <td><%= coin.name %>(<%= coin.symbol %>)</td>
      <td>$<%= sprintf('%.2f', coin.price) %></td>
      <td>$<%= sprintf('%.2f', coin.market_cap)%></td>
    </tr>
  <% end %>
  <tr>


  
</table>



