<nav>
<div class="menu">
<h3> Crypto coin</h3>
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Coins", allCoins_coins_path %></li>
<li><%= link_to "Trending Coins", trending_coins_path %></li>
<li><%= link_to "About", about_coins_path %></li>

</ul>
</div>

</nav>
<h2>Enter the coin name</h2>


<%= form_with url: coins_path, method: :get do |form| %>
  <%= form.label :query, "Search for a coin" %>

  <%= form.text_field :query,
                      value: params[:query],
                      placeholder: "Search by name or symbol" %>

  <%= form.submit "Search" %>
<% end %>

<div class="coins">
  <% if @coins.any? %>
    <% @coins.each do |coin| %>
      <div class="coin-card">
        <h2><%= coin.name %> (<%= coin.symbol %>)</h2>

        <p>Rank: <%= coin.rank %></p>
        <p>Price: <%= coin.price %></p>
        <p>UUID: <%= coin.uuid %></p>


        <% if coin.coin_detail.present? %>
          <%= link_to "View Details",
                      coin_detail_path(coin_uuid: coin.uuid) %>
        <% else %>
          <p>Details are not available.</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No coins matched your search.</p>
  <% end %>
</div>



